<div>
    <h2 id="page-heading">
        <span>Branches</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-branch-my-suffix" [routerLink]="['/branch-my-suffix/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Branch
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="branches?.length === 0">
        <span>No branches found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="branches && branches.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="repoId"><span>Repo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let branch of branches ;trackBy: trackId">
                    <td><a [routerLink]="['/branch-my-suffix', branch.id, 'view']">{{ branch.id }}</a></td>
                    <td>{{ branch.name }}</td>
                    <td>{{ branch.status }}</td>
                    <td>
                        <div *ngIf="branch.repoId">
                            <a [routerLink]="['/repo-my-suffix', branch.repoId , 'view']" >{{ branch.repoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/branch-my-suffix', branch.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/branch-my-suffix', branch.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(branch)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
